@charset "UTF-8";

* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-image: linear-gradient(to bottom, #eba1cb, #ffffff);
  background-attachment: fixed;
}

main {
  background-color: white;
  border-radius: 10px; /* Arredondamento da "caixa main"*/
  box-shadow: 5px 5px 15px rgba(80, 10, 50, 0.877); /* Sombra da caixa (lado, baixo, espalhamento, cor) */
  width: 600px; /* Largura*/
  padding: 10px; /* Acolchoamento: Coloca um espacinho em branco nas bordas */
  margin: auto; /* Posição das margens. Auto centraliza */
}

h1 {
  color: #c0217b;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(80, 10, 50, 0.877);
}

h2 {
  color: #7a154e;
}

p {
  text-align: justify;
  color: #052783;
}
