@charset "UTF-8";

:root {
  --punch-red: #e63946ff;
  --honeydew: #f1faeeff;
  --frosted-blue: #a8dadcff;
  --cerulean: #457b9dff;
  --oxford-navy: #1d3557ff;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  background-color: var(--frosted-blue);
  height: 100vh;
  width: 100vw;
}

header {
  background-color: var(--cerulean);
  color: var(--honeydew);
  padding: 10px;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font-size: 2.3rem;
  flex: 0 0 200px;
}

header nav {
  justify-self: flex-end;

  display: flex;
  align-items: center;
}
header nav a {
  background-color: var(--punch-red);
  color: var(--honeydew);
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;

  flex: 0 0 auto;
}
header nav a:hover {
  background-color: var(--honeydew);
  color: var(--punch-red);
  transition: background-color 0.3s;
}

main {
  justify-self: center;
  background-color: var(--honeydew);
  max-width: 780px;
  margin: 10px;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0px 5px 10px var(--oxford-navy);
}
main h2 {
  color: var(--oxford-navy);
  font-size: 1.8rem;
}
main p {
  margin-top: 10px;
  color: var(--cerulean);
  font-size: 1rem;
  font-weight: bold;
  text-align: justify;
  text-indent: 15px;
  line-height: 1.2rem;
}
